<p>Email z formuláře Informace pro VIP</p>
<table>
	<tr>
		<th>Jméno, kterým Tě máme oslovovat:</th>
		<td>{$values->jmeno}</td>
	</tr>
	<tr>
		<th>Tvůj kontaktní telefon:</th>
		<td>{$values->tel}</td>
	</tr>
	<tr>
		<th>Tvůj kontaktní e-mail:</th>
		<td>{$values->email}</td>
	</tr>
	<tr>
		<th>Doplňující poznámky a požadavky:</th>
		<td>{$values->poznamky}</td>
	</tr>
</table>