<p>Email z formuláře rezervace</p>
<table>
	<tr>
		<td>Jméno, kterým Tě máme oslovovat:</td>
		<td>{$values->jmeno}</td>
	</tr>
	<tr>
		<td>Tvůj kontaktní telefon:</td>
		<td>{$values->tel}</td>
	</tr>
	<tr>
		<td>Tvůj kontaktní e-mail:</td>
		<td>{$values->email}</td>
	</tr>
	<tr>
		<td>Datum, kdy máš zájem o jednu z nás:</td>
		<td>{$values->datum}</td>
	</tr>
	<tr>
		<td>Čas, kdy máme přijet:</td>
		<td>{$values->prijezd}</td>
	</tr>
	<tr>
		<td>Předpoklad délky společného času:</td>
		<td>{$values->delka}</td>
	</tr>
	<tr>
		<td>Preferovaná slečna, kterou by jsi nejraději:</td>
		<td>{$values->preferSlecna}</td>
	</tr>
	<tr>
		<td>Pokud v uvedeném čase nebude slečna moct, uveď prosím jméno jiné preferované slečny/slečen:</td>
		<td>{$values->preferSlecna2}</td>
	</tr>
	<tr>
		<td>Adresa, kam máme přijet:</td>
		<td>{$values->adresa}</td>
	</tr>
	<tr>
		<td>Je to:</td>
		<td>{$values->houseType}</td>
	</tr>
	<tr>
		<td>Doplňující poznámky a požadavky:</td>
		<td>{$values->poznamky}</td>
	</tr>
</table>