{block head}
<link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.9.1/themes/ui-lightness/jquery-ui.css" />
<!--<script type="text/javascript" src="{$basePath}/js/jquery.timepicker.min.js" ></script>-->
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<script type="text/javascript">
	$(function() {
//		$('.timepicker').timepicker({ 'timeFormat': 'H:i' });
		$('.datepicker').datepicker({ dateFormat: "dd.mm.yy" });
	});
</script>
{/block}
{form $component}
<ul class=error n:if="$form->errors">
	<li n:foreach="$form->errors as $error">{$error}</li>
</ul>

<table class="forms">
	<tr>
		<th>{label jmeno /}</th>
		<td>{input jmeno}</td>
		<th>{label jmenoPracovni /}</th>
		<td>{input jmenoPracovni}</td>
	</tr>
	<tr>
		<th>{label email /}</th>
		<td>{input email}</td>
		<th>{label tel /}</th>
		<td>{input tel}</td>
	</tr>
	<tr>
		<th>{label odkud /}</th>
		<td>{input odkud}</td>
		<th>{label vek /}</th>
		<td>{input vek}</td>
	</tr>
	<tr>
		<th>{label vyska /}</th>
		<td>{input vyska}</td>
		<th>{label vaha /}</th>
		<td>{input vaha}</td>
	</tr>
	<tr>
		<th>{label prsa /}</th>
		<td>{input prsa}</td>
		<th>{label vlasy /}</th>
		<td>{input vlasy}</td>
	</tr>
	<tr>
		<th>{label oci /}</th>
		<td>{input oci}</td>
		<th>{label jazyky /}</th>
		<td>{input jazyky}</td>
	</tr>
	<tr>
		<th>{label zkusenosti /}</th>
		<td>{input zkusenosti}</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<th>{label poznamky /}</th>
		<td colspan="3">{input poznamky}</td>
	</tr>
	<tr>
		<th>{label uploadedFile_1 /}</th>
		<td>{input uploadedFile_1}</td>
		<th>{label uploadedFile_2 /}</th>
		<td>{input uploadedFile_2}</td>
	</tr>
	<tr>
		<th>{label uploadedFile_3 /}</th>
		<td>{input uploadedFile_3}</td>
		<th>{label uploadedFile_4 /}</th>
		<td>{input uploadedFile_4}</td>
	</tr>
	<tr>
		<th>{label uploadedFile_5 /}</th>
		<td>{input uploadedFile_5}</td>
		<th>{label uploadedFile_6 /}</th>
		<td>{input uploadedFile_6}</td>
	</tr>
	<tr>
		<td colspan="1">&nbsp;</td>
		<td colspan="3">{input save}</td>
	</tr>
</table>
{/form}