<p>Email z formuláře Práce v erotice</p>
<table>
	<tr>
		<td>Jméno:</td>
		<td>{$values->jmeno}</td>
	</tr>
	<tr>
		<td>Jméno - pracovní:</td>
		<td>{$values->jmenoPracovni}</td>
	</tr>
	<tr>
		<td>Email:</td>
		<td>{$values->email}</td>
	</tr>
	<tr>
		<td>Telefon:</td>
		<td>{$values->tel}</td>
	</tr>
	<tr>
		<td>Odkud jsi:</td>
		<td>{$values->odkud}</td>
	</tr>
	<tr>
		<td>Věk:</td>
		<td>{$values->vek}</td>
	</tr>
	<tr>
		<td>Výška:</td>
		<td>{$values->vyska}</td>
	</tr>
	<tr>
		<td>Váha:</td>
		<td>{$values->vaha}</td>
	</tr>
	<tr>
		<td>Prsa:</td>
		<td>{$values->prsa}</td>
	</tr>
	<tr>
		<td>Vlasy:</td>
		<td>{$values->vlasy}</td>
	</tr>
	<tr>
		<td>Oči:</td>
		<td>{$values->oci}</td>
	</tr>
	<tr>
		<td>Jazyky:</td>
		<td>{$values->jazyky}</td>
	</tr>
	<tr>
		<td>Zkušenosti:</td>
		<td>{$values->zkusenosti}</td>
	</tr>
	<tr>
		<td>Popis, poznámka:</td>
		<td>{$values->poznamky}</td>
	</tr>
	<tr n:foreach="$photos as $photo">
		<td>Fotka:</td>
		{var $p = explode('.', $photo);}
		<td><img src="{$photo|getPhoto:400:300:'FILL'}" /></td>
		<td><a href="{$baseUri}/photo/{$photo}">{$photo}</a></td>
	</tr>
</table>
