


/*

			krémová
nejsvětle	EDE4CE		FFEDF9
světlá		D8CEB4		FFDDF5
střední		A19981		FFAAE7
tmavá		655C42		B25397
velmitmava				5B1947

*/


body {
	font-family: 'Roboto', sans-serif;
	background-color: #FFDDF5;
	color: #B25397;
	position: relative;
}
@media (min-width: 992px) {
	body {
		background: url("../img/bg.jpg") #FFDDF5 no-repeat;
		background-position: calc(50% - 150px) -10px;
	}
}
body:after {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	width: 100%;
	height: 100px;
	content: "";
	background: -moz-linear-gradient(top, rgba(255,170,231,1) 0%, rgba(255,170,231,0) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,170,231,1)), color-stop(100%,rgba(255,170,231,0)));
	background: -webkit-linear-gradient(top, rgba(255,170,231,1) 0%,rgba(255,170,231,0) 100%);
	background: -o-linear-gradient(top, rgba(255,170,231,1) 0%,rgba(255,170,231,0) 100%);
	background: -ms-linear-gradient(top, rgba(255,170,231,1) 0%,rgba(255,170,231,0) 100%);
	background: linear-gradient(to bottom, rgba(255,170,231,1) 0%,rgba(255,170,231,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaae7', endColorstr='#00ffaae7',GradientType=0 );
	z-index: -1;
}
body:before {
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 200px;
	content: "";
	background: -moz-linear-gradient(top, rgba(255,170,231,0) 0%, rgba(255,170,231,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,170,231,0)), color-stop(100%,rgba(255,170,231,1)));
	background: -webkit-linear-gradient(top, rgba(255,170,231,0) 0%,rgba(255,170,231,1) 100%);
	background: -o-linear-gradient(top, rgba(255,170,231,0) 0%,rgba(255,170,231,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,170,231,0) 0%,rgba(255,170,231,1) 100%);
	background: linear-gradient(to bottom, rgba(255,170,231,0) 0%,rgba(255,170,231,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffaae7', endColorstr='#ffaae7',GradientType=0 );
	z-index: -1;
}

a {
	color: #5B1947;
	transition: all 1s;
}
a:hover {
	color: #B25397;
}
hr {
	border-color: #B25397;
}

input, select, textarea {
	border: 1px solid #B25397;
	line-height: 25px;
	height: 25px;
	padding: 0 4px;
	background-color: #FFEDF9;
	transition: all 0.3s;
}
input:hover, select:hover, textarea:hover, input:active, select:active, textarea:active, input:focus, select:focus, textarea:focus {
	border-color: #5B1947;
	color: #5B1947;
}
input[type="submit"] {
	background-color: #B25397;
	color: white;
	transition: all 0.3s;
}

input[type="submit"]:hover {
	background-color: #5B1947;
}

header {
	clear: both;
	overflow: visible;
}
header h2 {
	font-size: 4.5em;
	text-align: right;
	margin: 0;
	color: rgba(91, 25, 71, 0.7);
}
header .container {
	padding-top: 15px;
	padding-bottom: 15px;
}
header .indent {
	float: right;
	text-align: right;
}
header .indent span {
	font-size: 1.2em;
}
@media (max-width: 991px) {
	header h2 {
		text-align: center;
	}
	header .indent {
		float: none;
		text-align: center;
	}
}


nav {
	background-color: rgba(91, 25, 71, 0.7);
	margin-bottom: 40px;
}
nav ul {
    height: 40px;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}
nav li {
	float: left;
    margin: 0;
	font-size: 1.1em;
	font-weight: bold;
	text-transform: uppercase;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}
nav li + li {
	border-left: 1px solid #FFAAE7;
}
nav a {
	display: block;
    height: 40px;
    line-height: 40px;
    margin: 0;
    padding: 0 20px;
    text-align: center;
    text-decoration: none;
	color: #FFDDF5;
	transition: all 1s;
}
nav a:hover {
	background-color: #B25397;
	text-decoration: none;
	color: white;
}
@media (max-width: 767px) {
	nav ul {
		height: auto;
	}
	nav li {
		float: none;
	}
	nav li + li {
		border-left: 0;
		border-top: 1px solid #FFAAE7;
	}
}
@media (max-width: 991px) {
	nav a {
		padding: 0 13px;
	}
}

.container .jumbotron {
	background-color: #FFAAE7;
	color: #fff;
	border-radius: 0;
}
footer {
	background-color: rgba(91, 25, 71, 0.7);
	color: #FFAAE7;
	margin-top: 30px;
}
footer .container {
	padding-top: 30px;
	padding-bottom: 30px;
}
footer ul {
	float: right;
	list-style: none;
	margin: 0;
}
footer li {
	float: left;
    padding: 0 15px;
}
footer li + li {
	border-left: 1px solid #B25397;
}
footer a {
	color: #FFAAE7;
}
footer a:hover {
	color: #FFDDF5;
}

@media (max-width: 767px) {
	footer ul {
		float: none;
		margin-top: 20px;
		padding: 0;
	}
	footer li:first-child {
		padding-left: 0;
	}
}









.homepage-gallery .thumbnail {
	background-color: white;
	transition: all 1s;
	padding: 10px;
	border: 1px solid #FFAAE7;
}
.homepage-gallery .thumbnail:hover {
	border-color: #5B1947;
	box-shadow: 0 0 5px 0 rgba(91, 25, 71, 0.5);
}
.homepage-gallery .thumbnail h3 {
	float: left;
	margin: 15px 0 0 10px;
	font-size: 1.5em;
}
.homepage-gallery .thumbnail table {
	float: right;
	width: 50%;
}
.homepage-gallery .thumbnail table td span {
	font-weight: bold;
}
.homepage-gallery .thumbnail .caption {
	color: #5B1947;
	clear: both;
	padding: 0;
	padding-top: 10px;
}



.girl-card .thumbnail {
	background-color: white;
	transition: all 1s;
	padding: 10px;
	border: 1px solid #FFAAE7;
}
.girl-card .thumbnail:hover {
	border-color: #5B1947;
	box-shadow: 0 0 5px 0 rgba(91, 25, 71, 0.5);
}

.girl-info-box {
	background-color: white;
	padding: 25px;
	border: 1px solid #FFAAE7;
	border-radius: 5px;
	margin-bottom: 20px;
	font-size: 0.9em;
}
.girl-info-box h3:first-child {
	margin-top: 0;
}
.girl-info-box p:last-child {
	margin-bottom: 0;
}

.girl-info-box .hr {
	padding: 0;
}
.girl-info-box hr {
	border-color: #FFAAE7;
	margin: 5px 0;
	border-style: dotted;
}

.girl-info-box table {
	width: 100%;
}
.girl-info-box .girl-info th {
	width: 50%;
	text-align: right;
	padding-right: 8px;
}
.girl-info-box .girl-info td {
	padding-left: 8px;
}
.girl-info-box .girl-info td strong {
	font-weight: bold;
	font-size: 1.2em;
	color: #5B1947;
}

.girl-info-box .prices th {
	width: auto;
	text-align: left;
}
.girl-info-box .prices tr:first-child th {
	text-align: right;
}
.girl-info-box .prices td {
	text-align: right;
	padding: 5px 0;
}
.girl-info-box .prices td:last-child {
	width: 35%;
}


.girl-info-box .order label {
	font-weight: normal;
}
.girl-info-box .order th {
	text-align: left;
	padding: 2px 5px 2px 0;
}
.girl-info-box .order input,
.girl-info-box .order select,
.girl-info-box .order textarea {
	width: 100%;
}
.girl-info-box .order textarea {
	height: 50px;
	resize: vertical;
}


.services {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 50%;
	float: left;
}
.services + .services {
	padding: 0 0 0 7px;
}
.services li {
	border-radius: 3px;
	margin: 2px 0;
	padding: 4px 10px;
}
.services li.active {
	background-color: #FFDDF5;
	transition: all 0.3s;
	color: #5B1947;
}
.services li.active:hover {
	background-color: #FFBFEB;
}
.services li:not(.active) {
	text-decoration: line-through;
	opacity: 0.5;
}



.calendar {
	width: 100%;
	font-size: 0.9em;
	border: 1px solid #FFAAE7;
	color: #5B1947;
	box-shadow: 0 0 5px 0 rgba(91, 25, 71, 0.15);
}
.calendar td:first-child {
	padding: 5px 0;
}
.calendar td:first-child img {
	height: 100px;
}
.calendar td {
	text-align: center;
	padding-top: 40px;
	vertical-align: top;
}
.calendar td + td, .calendar th + th {
	border-left: 1px solid #FFAAE7;
}
.calendar td:nth-child(2) {
	border: 0;
}
.calendar .week {
	background-color: rgba(255,255,255,0.6);
}
.calendar tr:nth-child(2n+2) {
	background-color: rgba(255,255,255,0.4);
}
.calendar th {
	padding: 5px 0;
}
.calendar thead tr {
	background-color: rgba(255,255,255,0.9);
	border-bottom: 1px solid #FFAAE7;
}
.calendar tr {
	transition: all 0.3s;
}
.calendar tr:hover {
	background-color: white;
}

