<div class="container girl-card">
	<div class="row">
		<div class="col-md-8">

			<div class="girl-info-box visible-sm visible-xs">
				<table class="girl-info">
					<tbody>
						<tr><th>{_}Jméno dívky{/_}:</th><td><strong>{$slecna->getLang($lang)->getJmeno()?$slecna->getLang($lang)->getJmeno():$slecna->getLang('cs')->getJmeno()}</strong></td></tr>
						<tr><th>{_}Věk{/_}:</th><td>{$slecna->getLang($lang)->getVek()?$slecna->getLang($lang)->getVek():$slecna->getLang('cs')->getVek()} {_}let{/_}</td></tr>
						<tr><th>{_}Výška{/_}:</th><td>{$slecna->getLang($lang)->getVyska()?$slecna->getLang($lang)->getVyska():$slecna->getLang('cs')->getVyska()} cm</td></tr>
						<tr><th>{_}Váha{/_}:</th><td>{$slecna->getLang($lang)->getVaha()?$slecna->getLang($lang)->getVaha():$slecna->getLang('cs')->getVaha()} kg</td></tr>
						<tr><th>{_}Prsa{/_}:</th><td>{$slecna->getLang($lang)->getPrsa()?$slecna->getLang($lang)->getPrsa():$slecna->getLang('cs')->getPrsa()}</td></tr>
						<tr><th>{_}Vlasy{/_}:</th><td>{$slecna->getLang($lang)->getVlasy()?$slecna->getLang($lang)->getVlasy():$slecna->getLang('cs')->getVlasy()}</td></tr>
						<tr><th>{_}Oči{/_}:</th><td>{$slecna->getLang($lang)->getOci()?$slecna->getLang($lang)->getOci():$slecna->getLang('cs')->getOci()}</td></tr>
						<tr><td colspan="2" class="hr"><hr></td></tr>
						<tr><th>{_}Ochlupení{/_}:</th><td>{$slecna->getLang($lang)->getOchlupeni()?$slecna->getLang($lang)->getOchlupeni():$slecna->getLang('cs')->getOchlupeni()}</td></tr>
						<tr><th>{_}Jazyky{/_}:</th><td>{$slecna->getLang($lang)->getJazyky()?$slecna->getLang($lang)->getJazyky():$slecna->getLang('cs')->getJazyky()}</td></tr>
						<tr><th>{_}Region{/_}:</th><td>{$slecna->getLang($lang)->getRegion()?$slecna->getLang($lang)->getRegion():$slecna->getLang('cs')->getRegion()}</td></tr>
						<tr><td colspan="2" class="hr"><hr></td></tr>
						<tr><th>{_}Telefon{/_}:</th><td>{$slecna->getLang($lang)->getTelefon()?$slecna->getLang($lang)->getTelefon():$slecna->getLang('cs')->getTelefon()}</td></tr>
						<tr><th>{_}E-mail{/_}:</th><td>{$slecna->getLang($lang)->getEmail()?$slecna->getLang($lang)->getEmail():$slecna->getLang('cs')->getEmail()}</td></tr>
					</tbody>
				</table>
			</div>


			<div class="row">
				{foreach $slecna->getPhotos() as $fotka}
					<div n:class="\UserUtils\PhotoUtils::getOrientation($fotka->name,$presenter->context)=='horizontal'?col-md-12:col-md-6">

						<div class="thumbnail"><img class="detailPhoto" src="{$fotka->name|getPhoto:291:441:'EXACT':635:420}" data-photoid="{$iterator->counter}" id="photoid{$iterator->counter}" /></div>
					</div>
				{/foreach}
			</div>
{*
			<div class="row">
				<div class="col-md-12">
					<div class="girl-info-box clearfix">
						<h3>Služby</h3>
						<ul class="services">
							<li class="active">Doprovod do společnosti</li>
							<li>Doprovod na večeři či jinam</li>
							<li class="active">Společná sprcha nebo vana</li>
							<li>Mazlení</li>
							<li>Masáž relaxační a erotická</li>
							<li class="active">Autoerotika</li>
							<li>Klasika s kondomem</li>
							<li>Orál s kondomem</li>
							<li>Dopravu k Tobě po Praze</li>
							<li class="active">Orál i bez kondomu</li>
							<li class="active">Anál (dle velikosti)</li>
							<li class="active">Hluboký orál DEEP THROAT (dle velikosti)</li>
							<li>Líbání</li>
							<li>Nechám se lízat</li>
							<li class="active">Vyvrcholení do pusinky</li>
							<li class="active">Vyvrcholení do pusinky i s polykáním</li>
							<li>Vyvrcholení na obličej</li>
							<li>Vyvrcholení na prsa</li>
							<li>Focení (s maskou na mě)</li>
							<li>Natáčení (s maskou na mě)</li>
							<li>Skupinové hrátky – 2 muži</li>
							<li class="active">Skupinové hrátky – více mužů</li>
							<li class="active">Skupinové hrátky – včetně sandwich</li>
							<li>Trojka – s jinou slečnou – bez lesbi</li>
							<li>Lesbi hrátky – s mou kamarádkou</li>
						</ul>
						<ul class="services">
							<li>Lesbi hrátky – pro manželský pár</li>
							<li class="active">Lesbi hrátky – pro samotnou ženu</li>
							<li class="active">Striptýz – amatérský</li>
							<li>Striptýz – profesionální</li>
							<li class="active">Pánský anál – STRAP ON</li>
							<li>Pánský anál – fisting</li>
							<li>Piss – na Tebe</li>
							<li>Piss – na mě – na tělo</li>
							<li>Piss – na mě – i do pusy</li>
							<li>Fisting – mě – vaginální</li>
							<li>Fisting – mě – anální</li>
							<li>Lehká má dominance</li>
							<li>Domina tvrdší SM</li>
							<li>Submisivita – Budu poslušnou holčičkou</li>
							<li>Submisivita – Nechám si dát výprask</li>
							<li class="active">Submisivita – Lížu pánské zadečky</li>
							<li class="active">Submisivita – Nechám se svázat</li>
							<li class="active">Profesionální</li>
							<li>Tantrická</li>
							<li class="active">Být opilá a bezvládná při sexu</li>
							<li class="active">Akce na veřejnosti – auto</li>
							<li class="active">Akce na veřejnosti – kabinky OC</li>
							<li class="active">Akce na veřejnosti – příroda</li>
							<li>Akce na veřejnosti – kdekoliv</li>
							<li>Squirt – Mám vlhký stříkající orgasmus</li>
						</ul>
					</div>
				</div>
			</div>*}
		</div>


		<div class="col-md-4">
			<div class="girl-info-box hidden-sm hidden-xs">
				<table class="girl-info">
					<tbody>
						<tr><th>{_}Jméno dívky{/_}:</th><td><strong>{$slecna->getLang($lang)->getJmeno()?$slecna->getLang($lang)->getJmeno():$slecna->getLang('cs')->getJmeno()}</strong></td></tr>
						<tr><th>{_}Věk{/_}:</th><td>{$slecna->getLang($lang)->getVek()?$slecna->getLang($lang)->getVek():$slecna->getLang('cs')->getVek()} {_}let{/_}</td></tr>
						<tr><th>{_}Výška{/_}:</th><td>{$slecna->getLang($lang)->getVyska()?$slecna->getLang($lang)->getVyska():$slecna->getLang('cs')->getVyska()} cm</td></tr>
						<tr><th>{_}Váha{/_}:</th><td>{$slecna->getLang($lang)->getVaha()?$slecna->getLang($lang)->getVaha():$slecna->getLang('cs')->getVaha()} kg</td></tr>
						<tr><th>{_}Prsa{/_}:</th><td>{$slecna->getLang($lang)->getPrsa()?$slecna->getLang($lang)->getPrsa():$slecna->getLang('cs')->getPrsa()}</td></tr>
						<tr><th>{_}Vlasy{/_}:</th><td>{$slecna->getLang($lang)->getVlasy()?$slecna->getLang($lang)->getVlasy():$slecna->getLang('cs')->getVlasy()}</td></tr>
						<tr><th>{_}Oči{/_}:</th><td>{$slecna->getLang($lang)->getOci()?$slecna->getLang($lang)->getOci():$slecna->getLang('cs')->getOci()}</td></tr>
						<tr><td colspan="2" class="hr"><hr></td></tr>
						<tr><th>{_}Ochlupení{/_}:</th><td>{$slecna->getLang($lang)->getOchlupeni()?$slecna->getLang($lang)->getOchlupeni():$slecna->getLang('cs')->getOchlupeni()}</td></tr>
						<tr><th>{_}Jazyky{/_}:</th><td>{$slecna->getLang($lang)->getJazyky()?$slecna->getLang($lang)->getJazyky():$slecna->getLang('cs')->getJazyky()}</td></tr>
						<tr><th>{_}Region{/_}:</th><td>{$slecna->getLang($lang)->getRegion()?$slecna->getLang($lang)->getRegion():$slecna->getLang('cs')->getRegion()}</td></tr>
						<tr><td colspan="2" class="hr"><hr></td></tr>
						<tr><th>{_}Telefon{/_}:</th><td>{$slecna->getLang($lang)->getTelefon()?$slecna->getLang($lang)->getTelefon():$slecna->getLang('cs')->getTelefon()}</td></tr>
						<tr><th>{_}E-mail{/_}:</th><td>{$slecna->getLang($lang)->getEmail()?$slecna->getLang($lang)->getEmail():$slecna->getLang('cs')->getEmail()}</td></tr>
					</tbody>
				</table>
			</div>



			{var $ostatniBox = $slecna->getLang($lang)->getOstatni()?$slecna->getLang($lang)->getOstatni():$slecna->getLang('cs')->getOstatni()}
			<div class="girl-info-box" n:if="!empty($ostatniBox)">
				<h3>{_}O dívce{/_}</h3>
				{$ostatniBox|noescape}
			</div>

			<div class="girl-info-box">
				<h3>Ceny</h3>
				<table class="prices">
					<tr>
						<th></th><th>CZK</th><th>EUR</th>
					</tr>
					{?$slecna->getPrices()}
					<tr n:if="$slecna->getPrices()->price_privat->col1 !=''">
						<th>{_}1 hodina{/_}</th><td>{$slecna->getPrices()->price_privat->col1},- Kč</td><td>{$slecna->getPrices()->price_privat->col1/$slecna->podnik->course},- EUR</td>
					</tr>
					<tr n:if="$slecna->getPrices()->price_privat->col2 !=''">
						<th>{_}2 hodiny{/_}</th><td>{$slecna->getPrices()->price_privat->col2},-  Kč</td><td>{$slecna->getPrices()->price_privat->col2/$slecna->podnik->course},-  EUR</td>
					</tr>
					<tr n:if="$slecna->getPrices()->price_privat->col3 !=''">
						<th>{_}3 hodiny{/_}</th><td>{$slecna->getPrices()->price_privat->col3},-  Kč</td><td>{$slecna->getPrices()->price_privat->col3/$slecna->podnik->course},-  EUR</td>
					</tr>
					<tr n:if="$slecna->getPrices()->price_privat->col4 !=''">
						<th>{_}6 hodin{/_}</th><td>{$slecna->getPrices()->price_privat->col4},-  Kč</td><td>{$slecna->getPrices()->price_privat->col4/$slecna->podnik->course},-  EUR</td>
					</tr>
					<tr n:if="$slecna->getPrices()->price_privat->col5 !=''">
						<th>{_}12 hodin{/_}</th><td>{$slecna->getPrices()->price_privat->col5},-  Kč</td><td>{$slecna->getPrices()->price_privat->col5/$slecna->podnik->course},-  EUR</td>
					</tr>
					<tr n:if="$slecna->getPrices()->price_privat->col6 !=''">
						<th>{_}24 hodin{/_}</th><td>{$slecna->getPrices()->price_privat->col6},-  Kč</td><td>{$slecna->getPrices()->price_privat->col6/$slecna->podnik->course},-  EUR</td>
					</tr>
				</table>

				{if $lang=='cs'}
					{$slecna->podnik->ceny_popis|noescape}
				{else}
					{$slecna->podnik->{'ceny_popis_'.$lang}|noescape}
				{/if}
			</div>

			<div class="girl-info-box">
				<h3>Objednej si mě</h3>
				<table class="order">
					<tbody>
						<tr>
							<th><label for="">Tvé jméno:</label></th><td><input></td>
						</tr>
						<tr>
							<th><label for="">Tvůj telefon:</label></th><td><input></td>
						</tr>
						<tr>
							<th><label for="">Tvůj e-mail:</label></th><td><input></td>
						</tr>
						<tr><td colspan="2" class="hr"><hr></td></tr>
						<tr>
							<th><label for="">Adresa místa:</label></th><td><textarea></textarea></td>
								</tr>
								<tr>
									<th><label for="">Místo je:</label></th><td><select><option></option></select></td>
								</tr>
								<tr><td colspan="2" class="hr"><hr></td></tr>
								<tr>
									<th><label for="">Datum schůzky:</label></th><td><input></td>
								</tr>
								<tr>
									<th><label for="">Čas schůzky:</label></th><td><input></td>
								</tr>
								<tr>
									<th><label for="">Na jak dlouho:</label></th><td><input></td>
								</tr>
								<tr><td colspan="2" class="hr"><hr></td></tr>
								<tr>
									<th><label for="">Která má přijet?</label></th><td><select><option></option></select></td>
								</tr>
								<tr>
									<th><label for="">Kdyby nemohla, která jiná?</label></th><td><select><option></option></select></td>
								</tr>
								<tr>
									<th><label for="">Poznámka:</label></th><td><textarea></textarea></td>
								</tr>
								<tr>
									<th></th><td><input type="submit" value="Odeslat"></td>
								</tr>
							</tbody>
						</table>
					</div>
					</div>
					</div>
					</div>
			<br/><br/><hr/><br/><br/>