<div class="container girl-card">
	<div class="row">
		<div class="col-md-8">

			<div class="girl-info-box visible-sm visible-xs">
				<table class="girl-info">
					<tbody>
						<tr><th>{_}Jméno dívky{/_}:</th><td><strong>{$slecna->getLang($lang)->getJmeno()?$slecna->getLang($lang)->getJmeno():$slecna->getLang('cs')->getJmeno()}</strong></td></tr>
						<tr><th>{_}Věk{/_}:</th><td>{$slecna->getLang($lang)->getVek()?$slecna->getLang($lang)->getVek():$slecna->getLang('cs')->getVek()} {_}let{/_}</td></tr>
						<tr><th>{_}Výška{/_}:</th><td>{$slecna->getLang($lang)->getVyska()?$slecna->getLang($lang)->getVyska():$slecna->getLang('cs')->getVyska()} cm</td></tr>
						<tr><th>{_}Váha{/_}:</th><td>{$slecna->getLang($lang)->getVaha()?$slecna->getLang($lang)->getVaha():$slecna->getLang('cs')->getVaha()} kg</td></tr>
						<tr><th>{_}Prsa{/_}:</th><td>{$slecna->getLang($lang)->getPrsa()?$slecna->getLang($lang)->getPrsa():$slecna->getLang('cs')->getPrsa()}</td></tr>
						<tr><th>{_}Vlasy{/_}:</th><td>{$slecna->getLang($lang)->getVlasy()?$slecna->getLang($lang)->getVlasy():$slecna->getLang('cs')->getVlasy()}</td></tr>
						<tr><th>{_}Oči{/_}:</th><td>{$slecna->getLang($lang)->getOci()?$slecna->getLang($lang)->getOci():$slecna->getLang('cs')->getOci()}</td></tr>
						<tr><td colspan="2" class="hr"><hr></td></tr>
						<tr><th>{_}Ochlupení{/_}:</th><td>{$slecna->getLang($lang)->getOchlupeni()?$slecna->getLang($lang)->getOchlupeni():$slecna->getLang('cs')->getOchlupeni()}</td></tr>
						<tr><th>{_}Jazyky{/_}:</th><td>{$slecna->getLang($lang)->getJazyky()?$slecna->getLang($lang)->getJazyky():$slecna->getLang('cs')->getJazyky()}</td></tr>
						<tr><th>{_}Region{/_}:</th><td>{$slecna->getLang($lang)->getRegion()?$slecna->getLang($lang)->getRegion():$slecna->getLang('cs')->getRegion()}</td></tr>
						<tr><td colspan="2" class="hr"><hr></td></tr>
						<tr><th>{_}Telefon{/_}:</th><td>{$slecna->getLang($lang)->getTelefon()?$slecna->getLang($lang)->getTelefon():$slecna->getLang('cs')->getTelefon()}</td></tr>
						<tr><th>{_}E-mail{/_}:</th><td>{$slecna->getLang($lang)->getEmail()?$slecna->getLang($lang)->getEmail():$slecna->getLang('cs')->getEmail()}</td></tr>
					</tbody>
				</table>
			</div>


			<div class="row">
				{foreach $slecna->getPhotos() as $fotka}
					<div n:class="\UserUtils\PhotoUtils::getOrientation($fotka->name,$presenter->context)=='horizontal'?col-md-12:col-md-6">

						<div class="thumbnail"><img class="detailPhoto" src="{$fotka->name|getPhoto:291:441:'EXACT':635:420}" data-photoid="{$iterator->counter}" id="photoid{$iterator->counter}" /></div>
					</div>
				{/foreach}
			</div>

			<div class="row">
				<div class="col-md-12">
					<div class="girl-info-box clearfix">
						<h3>{_}Služby{/_}</h3>
						
						{foreach $slecna->serviceTypes as $serviceType}
						{if count($serviceType->services) > 0}
						{*	<h4 class="color">
								{if $lang=='cs'}
								{$serviceType->name}
								{else}
									{$serviceType->{'name_'.$lang}}
									{/if}
							</h4>*}
						<ul class="services">	
								{foreach $serviceType->services as $key => $typy}
								{if $lang == 'cs'}
									{ifset $typy->description}<li n:class="$typy->offered===true?active">{$typy->description}</li>{/ifset}
								{else}
									{ifset $typy->{'description_'.$lang}}<li n:class="$typy->offered===true?active">{$typy->{'description_'.$lang}}</li>{/ifset}
								{/if}
								{/foreach}
							</ul>
						{/if}
						{/foreach}
							
						
					</div>
				</div>
			</div>
		</div>


		<div class="col-md-4">
			<div class="girl-info-box hidden-sm hidden-xs">
				<table class="girl-info">
					<tbody>
						<tr><th>{_}Jméno dívky{/_}:</th><td><strong>{$slecna->getLang($lang)->getJmeno()?$slecna->getLang($lang)->getJmeno():$slecna->getLang('cs')->getJmeno()}</strong></td></tr>
						<tr><th>{_}Věk{/_}:</th><td>{$slecna->getLang($lang)->getVek()?$slecna->getLang($lang)->getVek():$slecna->getLang('cs')->getVek()} {_}let{/_}</td></tr>
						<tr><th>{_}Výška{/_}:</th><td>{$slecna->getLang($lang)->getVyska()?$slecna->getLang($lang)->getVyska():$slecna->getLang('cs')->getVyska()} cm</td></tr>
						<tr><th>{_}Váha{/_}:</th><td>{$slecna->getLang($lang)->getVaha()?$slecna->getLang($lang)->getVaha():$slecna->getLang('cs')->getVaha()} kg</td></tr>
						<tr><th>{_}Prsa{/_}:</th><td>{$slecna->getLang($lang)->getPrsa()?$slecna->getLang($lang)->getPrsa():$slecna->getLang('cs')->getPrsa()}</td></tr>
						<tr><th>{_}Vlasy{/_}:</th><td>{$slecna->getLang($lang)->getVlasy()?$slecna->getLang($lang)->getVlasy():$slecna->getLang('cs')->getVlasy()}</td></tr>
						<tr><th>{_}Oči{/_}:</th><td>{$slecna->getLang($lang)->getOci()?$slecna->getLang($lang)->getOci():$slecna->getLang('cs')->getOci()}</td></tr>
						<tr><td colspan="2" class="hr"><hr></td></tr>
						<tr><th>{_}Ochlupení{/_}:</th><td>{$slecna->getLang($lang)->getOchlupeni()?$slecna->getLang($lang)->getOchlupeni():$slecna->getLang('cs')->getOchlupeni()}</td></tr>
						<tr><th>{_}Jazyky{/_}:</th><td>{$slecna->getLang($lang)->getJazyky()?$slecna->getLang($lang)->getJazyky():$slecna->getLang('cs')->getJazyky()}</td></tr>
						<tr><th>{_}Region{/_}:</th><td>{$slecna->getLang($lang)->getRegion()?$slecna->getLang($lang)->getRegion():$slecna->getLang('cs')->getRegion()}</td></tr>
						<tr><td colspan="2" class="hr"><hr></td></tr>
						<tr><th>{_}Telefon{/_}:</th><td>{$slecna->getLang($lang)->getTelefon()?$slecna->getLang($lang)->getTelefon():$slecna->getLang('cs')->getTelefon()}</td></tr>
						<tr><th>{_}E-mail{/_}:</th><td>{$slecna->getLang($lang)->getEmail()?$slecna->getLang($lang)->getEmail():$slecna->getLang('cs')->getEmail()}</td></tr>
					</tbody>
				</table>
			</div>


			{var $ostatni = $slecna->getLang($lang)->getOstatni()?$slecna->getLang($lang)->getOstatni():$slecna->getLang('cs')->getOstatni()}
			<div class="girl-info-box" n:if="!empty($ostatni)">
				<h3>{_}O dívce{/_}</h3>
				{$ostatni|noescape}
			</div>

			<div class="girl-info-box">
				<h3>Ceny</h3>
				<table class="prices">
					<tr>
						<th></th><th>CZK</th><th>EUR</th>
					</tr>
					{?$slecna->getPrices()}
					<tr n:if="$slecna->getPrices()->price_privat->col1 !=''">
						<th>{_}1 hodina{/_}</th><td>{$slecna->getPrices()->price_privat->col1},- Kč</td><td>{$slecna->getPrices()->price_privat->col1/$slecna->podnik->course},- EUR</td>
					</tr>
					<tr n:if="$slecna->getPrices()->price_privat->col2 !=''">
						<th>{_}2 hodiny{/_}</th><td>{$slecna->getPrices()->price_privat->col2},-  Kč</td><td>{$slecna->getPrices()->price_privat->col2/$slecna->podnik->course},-  EUR</td>
					</tr>
					<tr n:if="$slecna->getPrices()->price_privat->col3 !=''">
						<th>{_}3 hodiny{/_}</th><td>{$slecna->getPrices()->price_privat->col3},-  Kč</td><td>{$slecna->getPrices()->price_privat->col3/$slecna->podnik->course},-  EUR</td>
					</tr>
					<tr n:if="$slecna->getPrices()->price_privat->col4 !=''">
						<th>{_}6 hodin{/_}</th><td>{$slecna->getPrices()->price_privat->col4},-  Kč</td><td>{$slecna->getPrices()->price_privat->col4/$slecna->podnik->course},-  EUR</td>
					</tr>
					<tr n:if="$slecna->getPrices()->price_privat->col5 !=''">
						<th>{_}12 hodin{/_}</th><td>{$slecna->getPrices()->price_privat->col5},-  Kč</td><td>{$slecna->getPrices()->price_privat->col5/$slecna->podnik->course},-  EUR</td>
					</tr>
					<tr n:if="$slecna->getPrices()->price_privat->col6 !=''">
						<th>{_}24 hodin{/_}</th><td>{$slecna->getPrices()->price_privat->col6},-  Kč</td><td>{$slecna->getPrices()->price_privat->col6/$slecna->podnik->course},-  EUR</td>
					</tr>
				</table>

				{if $lang=='cs'}
					{$slecna->podnik->ceny_popis|noescape}
				{else}
					{$slecna->podnik->{'ceny_popis_'.$lang}|noescape}
				{/if}
			</div>

			<div class="girl-info-box">
				<h3>Objednej si mě</h3>
				<table class="order">
					<tbody>
						<tr>
							<th><label for="">Tvé jméno:</label></th><td><input></td>
						</tr>
						<tr>
							<th><label for="">Tvůj telefon:</label></th><td><input></td>
						</tr>
						<tr>
							<th><label for="">Tvůj e-mail:</label></th><td><input></td>
						</tr>
						<tr><td colspan="2" class="hr"><hr></td></tr>
						<tr>
							<th><label for="">Adresa místa:</label></th><td><textarea></textarea></td>
								</tr>
								<tr>
									<th><label for="">Místo je:</label></th><td><select><option></option></select></td>
								</tr>
								<tr><td colspan="2" class="hr"><hr></td></tr>
								<tr>
									<th><label for="">Datum schůzky:</label></th><td><input></td>
								</tr>
								<tr>
									<th><label for="">Čas schůzky:</label></th><td><input></td>
								</tr>
								<tr>
									<th><label for="">Na jak dlouho:</label></th><td><input></td>
								</tr>
								<tr><td colspan="2" class="hr"><hr></td></tr>
								<tr>
									<th><label for="">Která má přijet?</label></th><td><select><option></option></select></td>
								</tr>
								<tr>
									<th><label for="">Kdyby nemohla, která jiná?</label></th><td><select><option></option></select></td>
								</tr>
								<tr>
									<th><label for="">Poznámka:</label></th><td><textarea></textarea></td>
								</tr>
								<tr>
									<th></th><td><input type="submit" value="Odeslat"></td>
								</tr>
							</tbody>
						</table>
					</div>
					</div>
					</div>
					</div>