<div class="container homepage-gallery">
	<div class="row">
		{foreach $slecny as $slecna}
			<div class="col-sm-6 col-md-3">
				{if $slecna->url==''}
					<a href="{plink Pages:default item=>detail,lang=>$presenter->getParam('lang'), slecna => $slecna->id, jmeno => $template->webalize($slecna->getLang('cs')->jmeno)}">
					{else}
						<a href="{plink Pages:default item=>detail,lang=>$presenter->getParameter('lang'),slecna=>$slecna->url!=''?$slecna->url:$slecna->id}">

						{/if}

						<div class="thumbnail">
							<img src="{$slecna->mainfoto|getPhoto:206:311:'EXACT'}" alt="...">
							<div class="caption clearfix">
								<h3>{$slecna->getLang($lang)->getJmeno()?$slecna->getLang($lang)->getJmeno():$slecna->getLang('cs')->getJmeno()}</h3>
								<table>
									<tbody>
										<tr><td>{_}Věk{/_}:</td><td><span>{$slecna->getLang($lang)->getVek()}</span> {_}let{/_}</td></tr>
										<tr><td>{_}Výška{/_}:</td><td><span>{$slecna->getLang($lang)->getVyska()}</span> cm</td></tr>
										<tr><td>{_}Váha{/_}:</td><td><span>{$slecna->getLang($lang)->getVaha()}</span> kg</td></tr>
									</tbody>
								</table>
							</div>
						</div>
					</a>
			</div>
		{/foreach}
	</div>
</div>
