<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="description" content="">
		<meta name="robots" content="{$robots}" n:ifset="$robots">

		<title>{block title|striptags|upper}{/block}Playgirls</title>

		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link href='http://fonts.googleapis.com/css?family=Roboto:400,400italic,700,700italic&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="{$basePath}/css/bootstrap.min.css">
		<link rel="stylesheet" href="{$basePath}/css/main.css">

		<link rel="shortcut icon" href="{$basePath}/favicon.ico" type="image/x-icon" >
		{block head}{/block}

		<!--		<script>
					(function(i, s, o, g, r, a, m) {
						i['GoogleAnalyticsObject'] = r;
						i[r] = i[r] || function() {
							(i[r].q = i[r].q || []).push(arguments)
						}, i[r].l = 1 * new Date();
						a = s.createElement(o),
							m = s.getElementsByTagName(o)[0];
						a.async = 1;
						a.src = g;
						m.parentNode.insertBefore(a, m)
					})(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
		
					ga('create', 'UA-48590432-1', 'zacatecnice.cz');
					ga('send', 'pageview');
		
				</script>-->

	</head>

	<body>
		<header>
			<div class="container">

				<h2>Playgirls.cz</h2>

				<div class="indent">
					<p>
						Tel.: <span>+420 702 944 166</span>, E-mail: <span>divky@playgirls.cz</span><br>
						Volej denně od <span>10:00</span> do <span>24:00</span>
					</p>
				</div>
			</div>
		</header>
		{control topMenu}

				{include content}

		<footer>
			<div class="bot">
				<div class="main">
					{*<ul class="icon">
						<li><a href="#"><img alt="" src="/images-front/icon1.gif" /></a></li>
						<li><a href="#"><img alt="" src="/images-front/icon2.gif" /></a></li>
						<li><a href="#"><img alt="" src="/images-front/icon3.gif" /></a></li>
						<li><a href="#"><img alt="" src="/images-front/icon4.gif" /></a></li>
					</ul>*}
					<div class="inside">
						<div class="container">
							<span>Zacatecnice.cz</span> &copy; 2014 &nbsp;{*| &nbsp;Created by <a href="http://katolicky.eu">David Katolický</a>*}<!--FOOTER_LINK-->
							{block bottomMenu}{/block}
						</div>
					</div>
				</div>
			</div>
		</footer>
	</div>
</div>


{block scripts}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="js/main.js"></script>
{/block}
</body>
</html>
