{block content}

<h4 style="font-weight: bold;"><span n:block="title">Upozornění před vstupem na stránky</span>:</h4>

<p>Vstupujete na stránky, které obsahují erotický a sexuálně zaměřený materiál.</p>
<p>Přečtete si proto pečlivě podmínky vstupu a následně přijměte zmíněné podmínky či je zamítněte a odejděte z těchto stránek.</p>

<p>Stisknutím tlačítka Vstoupit potvrzuji:</p>
<ul>
  <li>Je mi více než osmnáct (18) let a potvrzuji, že jsem již dosáhl(a) zletilosti.</li>
  <li>Pokud se nacházím ve státě, ve kterém je hranice zletilosti stanovena odlišně od České republiky (např. na 21 let), potvrzuji, že splňuji veškeré podmínky zletilosti a možnosti vstupu na uvedené stránky.</li>
  <li>Zamezím, aby díky mému chování ke zde obsaženým datům přistupoval kdokoli nezpůsobilý či nezletilý.</li>
  <li>Můj zájem o všechny zde obsažené údaje a materiály je čistě soukromý a je určen pouze pro mou a jen mou vlastní potřebu. Prohlašuji, že sexuálně zaměřený materiál mne nepohoršuje, neuráží a nejsem jim nijak ohrožen.</li>
  <li>Je mi známo, že veškeré obrazové a textové materiály na stránkách, na které jsem se rozhodnul vstoupit jsou chráněny autorským zákonem. Jakékoli šíření obsahu nebo jeho částí bez předchozího písemného souhlasu provozovatele stránek je výslovně zakázáno.</li>
  <li>Jsem si vědom toho, že porušením některého z výše uvedených ustanovení se vystavuji riziku občanskoprávních sporů, případného i trestněprávního stíhání.</li>
</ul>
{form confirmCs}
<p style="text-align:center">{input enter, class => "button mybutton focused"} {input leave, class => "button mybutton"}</p>
{/form}





<h4 style="font-weight: bold;">Notice before entering the site:</h4>

<p>Entering a site containing erotic and sexually explicit material.</p>
<p>Please read carefully the conditions of entry and then accept the above conditions, or reject and walk away from these pages.</p>

<p>Press Enter to confirm:</p>
<ul>
  <li>Am over eighteen (18) years and certify that I have reached (a) majority.</li>
  <li>If you are in the country in which the boundaries defined differently from the majority of the Czech Republic (eg 21 years), certify that it meets all the conditions and possibilities of a majority of the site.</li>
  <li>This will help prevent that because of my behavior to the data contained here approached anyone incompetent or minor.</li>
  <li>I declare that the sexually explicit material nepohoršuje me, and I'm not offended them in any way compromised.</li>
  <li>Any dissemination of the contents or parts thereof without the prior written consent of the Site is expressly prohibited.</li>
  <li>I am aware that violation of any of the above provisions shall run a risk of civil litigation and possible criminal prosecution.</li>
</ul>
{form confirmEn}
<p style="text-align:center">{input enter, class => "button mybutton"} {input leave, class => "button mybutton"}</p>
{/form}
