
.Pager a
{
    color: #ccc !important;
    font-weight: bold;
    margin-right: 15px;
    text-decoration: none;
}
.Pager a:hover
{
    text-decoration: underline !important;
}

a.Jmeno
{
    color: #fff !important;
    font-weight: bold;
    margin-right: 15px;
    text-decoration: none;
}
a.Jmeno:hover
{
    text-decoration: underline !important;
}

img.VideoThmb
{
    width: 45px;
    height: 45px;
    float: left;
    border: none;
}
img.VideoThmbPreview
{
    width: 90px;
    height: 90px;
    xfloat: left;
    border: none;
}
table.f9 tr td
{
    font-size: 10px !important;
}

.AttSkupina
{
    text-transform: uppercase;
    font-size: 11px;
    color: #ccc;
    font-weight: bold;
    margin: 5px 0 3px 0;
}
.cAttSkupina
{
    font-size: 110%;
    text-transform: uppercase;
}
.cDisabled
{
    text-decoration: line-through;
    color: #ccc;
}

.Val
{
    background-color: #c0c0c0;
    padding: 5px;
    margin-bottom: 10px;
}

pre
{
    width: 300px !important;
    line-height: 10px;
}

input
{
    margin-left: 0px !important;
}

table.Slide td
{
    padding: 3px;
    font-size: 10px;
}
table.Slide th, .C3TH
{
    padding: 3px;
    font-size: 10px;
    font-weight: bold;
    text-align: left;
}

.chk2 label
{
    color: #ddd;
    font-size: 11px;
    position: relative;
    top: -2px;
}
.WE
{
    background-color: #555;
}
.AGrid2
{
    border-top: solid 1px #888;
}
.Calendar img
{
    height: 40px;
    margin: 0;
}
.Calendar:hover
{
    cursor: pointer;
}

.Boxy label
{
    margin-right: 10px;
    display: inline-block;
    min-width: 120px;
}