{block content}
{var $name = 'name'.$postfix}
{var $header = 'header'.$postfix}
{var $content = 'content'.$postfix}
{var $footer = 'footer'.$postfix}

<div id="container">
	<div id="body">
		<div id="wrapper">
			<div class="content clearfix">
				{ifset $menu}
					{if is_object($menu->page)}	
						{*<h2>{$menu->page->$name}</h2>*}
						{$menu->page->$header|noescape}
						{$menu->page->$content|noescape}
						{if $menu->page->component!= null && $menu->page->component != ''}
						</div>
						{foreach explode(',',$menu->page->component) as $component}
							{var $component = trim($component)}
							{if $component == 'workInErotic'}
								{include 'forms/workInErotic.latte',component=>$component}
							{else}
								{control $component}
							{/if}
						{/foreach}
						<div class="content clearfix">
						{/if}
						{$menu->page->$footer|noescape}
					{/if}
				{/ifset}
			</div>
		</div>
	</div>
</div>

