<div class="container">
<h2 n:block="title">{_}Kalendář{/_}</h2>

		<table class="calendar">
			<thead>
				<tr>
					<th class="p" colspan="2">&nbsp;</th>
					<th n:foreach="$headerColDate as $tiemstamp => $date" class="p center">{$tiemstamp|date:'d.m.Y'}<br />{_}{$date}{/_}</th>
				</tr>
			</thead>
			<tbody>
				{foreach $slecnaDAO->getAllActiveByPodnikIds($presenter->context->parameters['podnikid']) as $slecna}
					{dump $slecna}
					{if $slecna->active}
						<tr n:class="!$slecna->active?'not-active'">
							<td>
								{if $slecna->url==''}
									<a href="{plink Pages:default item=>detail,lang=>$presenter->getParam('lang'), slecna => $slecna->id, jmeno => $template->webalize($slecna->getLang('cs')->jmeno)}" title="{$slecna->getLang('cs')->jmeno}">
									{else}
										<a href="{plink Pages:default item=>detail,lang=>$presenter->getParam('lang'),slecna => $slecna->url}" title="{$slecna->getLang('cs')->jmeno}">
										{/if}

										<img src="{$slecna->mainfoto|getPhoto:150:100:'FIT'}" alt="" class="q"/>
									</a>
							</td>
							<td class="normal">
								{if $slecna->url==''}
									<a href="{plink Pages:default item=>detail,lang=>$presenter->getParam('lang'), slecna => $slecna->id, jmeno => $template->webalize($slecna->getLang('cs')->jmeno)}" title="{$slecna->getLang('cs')->jmeno}">
									{else}
										<a href="{plink Pages:default item=>detail,lang=>$presenter->getParam('lang'),slecna => $slecna->url}" title="{$slecna->getLang('cs')->jmeno}">
										{/if}

										<span class="top-space">{$slecna->getLang('cs')->jmeno}</span>
									</a></td>
									{foreach $modelCalendar->getGirlCalendarAdminEdited($slecna->id, $pocetdnu) as $timestamp => $day}
										{var $d = date('N', $timestamp);}
								<td class="{if ($d == 6 || $d == 7)}week{elseif ($d == 5)}normalf{else}normal{/if}">
									{if $day['na_dotaz_zavolanim'] == 1 || $day['na_dotaz_pres_sms'] == 1 || $day['muze_od'] != '' || $day['muze_do'] != ''}
										<img src="{$basePath}/img/icn_vykricnik.png" class="top-space" />
										{if $day['muze_od'] != ''}<br/>Od: {$day['muze_od']|date:'H:i'}{/if}
										{if $day['muze_do'] != ''}<br/>Do: {$day['muze_do']|date:'H:i'}{/if}
									{elseif $day['online'] == 1}
										<img src="{$basePath}/img/icn_ok.png" class="top-space" />
									{else}
										<img src="{$basePath}/img/icn_minus.png" class="top-space" />
									{/if}</td>
								{/foreach}
						</tr>
					{/if}
				{/foreach}
			</tbody>
		</table>
		<div class="clear"></div>
		<h2>{_}Novinky{/_}</h2>
		{foreach $news as $new}
			{dump $new}
			{if $presenter->getParam('lang') == 'cs'}
				<h3>{$new->description}</h3>
				{!$new->text}<br />
			{else}
				<h3>{$new->{'description_'.$presenter->getParam('lang')}}</h3>
				{!$new->{'text_'.$presenter->getParam('lang')}}<br />
			{/if}


		{/foreach}
	</div>
