<h2>{_}Novinky{/_}</h2>
{foreach $news as $new}
	{dump $new}
	{if $presenter->getParam('lang') == 'cs'}
		<h3>{$new->description}</h3>
		{!$new->text}<br />
	{else}
		<h3>{$new->{'description_'.$presenter->getParam('lang')}}</h3>
		{!$new->{'text_'.$presenter->getParam('lang')}}<br />
	{/if}


{/foreach}
<div class="clear"></div>
<h2 n:block="title">{_}Kalendář{/_}</h2>
<div class="box scroll">
	<div class="fixed-table-container two-col">
		<div class="fixed-table-container-inner">
			<table class="calendar head">
				<thead>
					<tr>
						<th class="p">&nbsp;</th>
						<th class="p">&nbsp;</th>
						<th class="p w120px">&nbsp;</th>
						<th n:foreach="$headerColDate as $tiemstamp => $date" class="p center white">{$tiemstamp|date:'d.m.Y'}<br />{$date|firstUpper}</th>
					</tr>
				</thead>
			</table>
			<table class="calendar body">
				<tbody>
					{foreach $modelSlecna->getAllActiveByPodnikIds($presenter->context->parameters['podnikid']) as $slecna}
						{if $slecna->active}
							{var $calendar = $modelCalendar->getGirlCalendar2($slecna->id, $pocetdnu);}
							<tr n:class="!$slecna->active?'not-active'">
								<td>
									{if !$iterator->isFirst()}
										<span style="display: block; width: 50px; margin-bottom: 10px;">&nbsp;</span>
									{/if}
									{if $slecna->url==''}
										<a href="{plink Pages:default item=>detail,lang=>$presenter->getParam('lang'), slecna => $slecna->id, jmeno => $template->webalize($slecna->getLang('cs')->jmeno)}">
										{else}
											<a href="{plink Pages:default item=>detail,lang=>$presenter->getParam('lang'),slecna => $slecna->url}">
											{/if}
											<img src="{$slecna->mainfoto|getPhoto,150,100,'FIT'}" alt=""/>
										</a>
								</td>
								<td>
									{if $slecna->url==''}
										<a href="{plink Pages:default item=>detail,lang=>$presenter->getParam('lang'), slecna => $slecna->id, jmeno => $template->webalize($slecna->getLang('cs')->jmeno)}">
										{else}
											<a href="{plink Pages:default item=>detail,lang=>$presenter->getParam('lang'),slecna => $slecna->url}">
											{/if}

											<b class="name top-space-x{if $iterator->isFirst()}2{/if}">{$slecna->getLang('cs')->jmeno}</b>
										</a>
								</td>
								<td>
									{if !$iterator->isFirst()}
										<span style="display: block; width: 50px; margin-bottom: 10px;">&nbsp;</span>
									{/if}
									<table n:class="$calendar->getCountPopisky() == 1 ? 'insideCalendar' : insideCalendar">
										{foreach $calendar->getMethodsNames() as $id => $name}
											{if $calendar->writeValue($id)}
												<tr>
													<td class="p w120px">{$calendar->getPopisek($id)}</td>
													<td n:foreach="$calendar->getTimestamps() as $timestamp" class="{if date('N', $timestamp) == 6 || date('N', $timestamp) == 7}week{/if} v">
														{if $id == 0}
															{if $calendar->getRowByNameAndTimestamp('na_dotaz_zavolanim', $timestamp) || $calendar->getRowByNameAndTimestamp('na_dotaz_pres_sms', $timestamp) || $calendar->getRowByNameAndTimestamp('muze_od', $timestamp) || $calendar->getRowByNameAndTimestamp('muze_do', $timestamp)}
																<img src="{$basePath}/images/icn_vykricnik.png" />
															{elseif $calendar->getRowByNameAndTimestamp($name, $timestamp)}
																<img src="{$basePath}/images/icn_ok.png" />
															{else}
																<img src="{$basePath}/images/icn_minus.png" />
															{/if}
														{elseif $id == 3 || $id == 4}
															{$calendar->getRowByNameAndTimestamp($name, $timestamp)|date:'H:i'}
														{else}
															{$calendar->getRowByNameAndTimestamp($name, $timestamp)}
														{/if}
													</td>
													<td class="p w120px">{$calendar->getPopisek($id)}</td>
												</tr>
											{/if}
										{/foreach}
									</table>
								</td>
							</tr>
						{/if}
					{/foreach}
				</tbody>
			</table>
		</div>
	</div>
</div>